#section4 {
    width:100%;
    display: grid;

    h2 {
        padding-block-start: 3rem;
        grid-column: 1/3;
        text-align: center;
        font-size: 6vh;
    }

    .info {
        padding-inline: 2rem;
        font-family: customFont2;
        grid-column: 1/3;
        text-align: center;
        font-size: 4vh;
    }

    .image1 {
        margin-inline-start: 8rem;
        height: 70vh;
        width: 90vh;
        grid-column: 1/2;
    }

    .t1 {
        margin-block-start: 8rem;
        padding-inline: 1rem;
        font-size: 6vh;
        text-align: center;
        grid-column: 2/3;
    }

    .info1 {
        padding-inline: 1rem;
        font-size: 4vh;
        text-align: center;
        margin-block-start: -14rem;
        font-family: customFont2;
        grid-column: 2/3;
    }

    .t2 {
        margin-block-start: -17rem;
        padding-inline: rem;
        font-size: 6vh;
        text-align: center;
        grid-column: 1/2;
    }

    .info2 {
        margin-block-start: -14rem;
        padding-inline: 4rem;
        font-size: 4vh;
        text-align: center;
        font-family: customFont2;
        grid-column: 1/2;
    }

    .image2 {
        margin-block-start: 7rem;
        height: 70vh;
        width: 70vh;
        grid-column: 2/3;
    }

    h4 {
        padding-inline-start: 2rem;
        grid-column: 1/3;
        font-family: customFont;
        font-size: 8vh;
    }

    .fans {
        font-family: customFont2;
        padding-inline-start: 2rem;
        font-size: 5vh;
        grid-column: 1/3;
        margin-block-start: 1rem;
        margin-block-end: 3rem;
    }
}
