#section2 {
    display: flex;
    flex-direction: column;

    .col {
        width:100%;
        display: flex;
        flex-direction: row;
        display: grid;
        grid-column: 1/3;
        
    img {
        width:100%;
    }
    .text1, .text2, .text3 {
        text-align: center;
        width:100%;

        .title1, .title2, .title3 {
           font-size: 6vh;
        }

        .p1, .p2, .p3 {
            font-family: customFont2;
            padding-inline: 2rem;
            padding-block-start: 0.5rem;
        }
    }
    .picture1 {
        grid-column: 1/2;
        grid-row:1/5;
        width:49.4vw;
    }
    .picture2 {
        grid-column: 2/3;
        width:49.4vw;
        grid-row: 1/5;
    }
    .picture3 {
        grid-column: 1/2;
        grid-row: 1/5;
        width: 49.4vw;
    }
    .text1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2/3;
        grid-row: 1/5;

    }
    .text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1/2;
        grid-row: 1/5;
    }
    .text3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 2/3;
        grid-row: 1/5;
    }
  }
}
