@use "../../styles/mixins.scss" as *;

.main {
  display: grid;
  padding: 1rem 0rem;
  justify-items: center;
  gap: 1rem;
}
@media (min-width: 800px) {
  .main {
    width: 91vw;
  }
}
@media (min-width: 800px) {
  .main {
    width: 94vw;
  }
}
