@use "../../styles/mixins.scss" as *;

.projects_box {
  padding: 0.5rem;
  background-color: var(--background);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0.5rem;
}
.culturall {
  grid-row: 1/2;
  grid-column: 2/3;
}
.boutique {
  justify-self: end;
  align-self: end;
}
.skyscraper {
  grid-row: 2/3;
  grid-column: 1/2;
}
