// MIXINS
@use "./mixins.scss" as *;
@import "./fonts.css";

// BODY
html,
body,
* {
  padding: 0;
  margin: 0;
  transition: all 0.5s;
}

.app {
  background-color: var(--background);
  color: var(--text-color);
  --background: #fff;
  --text-color: #000;
  --background-image: url(../public/background.jpg);
}

.app.dark {
  --background: #000;
  --text-color: #fff;
  --background-image: url(../public/backgrounddark.jpg);
}

body {
  scrollbar-color: var(--background) transparent;
  background-color: var(--background);
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0.4rem;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 0rem;
  }
}
main {
  background-color: var(--background);
}
