.shopdetails {
    background: white;
    display:flex;
    flex-direction: row;
    padding-inline: 2rem;
    padding-block-end: 2rem;

    .single-pro-image {
        display: flex;
        flex-direction: column;
        margin-right:50px;
        width:40%;

            .small-img-group {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                cursor: pointer;
                img {
                    width: 11.9vw;
                }
        }
    }

    .single-pro-details {
        display:flex;
        flex-direction: column;
        margin-block-start: 4rem;
        width:60%;
        padding-inline-start: 2rem;

        h6, h2, h3, h5 {
            font-family: customFont2;
        }
        h6 {
            font-size: 3vh;
        }
        h4 {
            font-size: 6vh;
            margin-block: 0.5rem;
        }
        h2 {
            margin-block-start: 1rem;
            font-size: 2rem;
        }
        h5 {
            margin-block-start: 2rem;
            font-size: 4vh;
        }
        p {
            font-family: customFont2;
            text-align: justify;
        }
        .form {
            display: flex;
            flex-direction: column;
            h4 {
                font-size: 4vh;
                margin-block-start: 2rem;
                font-family: customFont2;
            }
        }
        .shade-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            

            img {
                height: 8vh;
                cursor: pointer;
            }
        }
        .button-group {
            margin-block-start: 1rem;
            display: flex;
            flex-direction: row;
            cursor: pointer;
            height:10vh;

            input[type=number] {
                font-family: customFont2;
                text-align: center;
                width:10%;
                border: none;
                outline:none;
                background:#F2E6E3;
            }
            button {
                cursor: pointer;
                font-size:3vh;
                padding-inline: 2rem;
                border: none;
                outline: none;
                color:white;
                background:#8F2539;
            }
        }
    }
}




