@use "../../styles/mixins.scss" as *;

.next_project {
  @include font-details(var(--text-color), "ag-regular", 1rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  width: 10rem;
  display: block;
  margin: 0rem auto;
  padding: 1.5rem 0rem;
  transition: filter 0.5s;
  @include fade-in();
  &::before {
    content: ">";
    @include font-details(var(--text-color), "ag-regular", 2rem);
    position: absolute;
    transform: translate(-1.5rem, 0.1rem);
    opacity: 0;
    transition: opacity, transform 300ms;
  }
  &:hover::before {
    opacity: 1;
    transform: translate(7rem, 0.1rem);
  }
  &::after {
    content: "";
    position: absolute;
    transform: translate(-7.5rem, 1.4rem);
    background-color: var(--text-color);
    width: 10rem;
    height: 0.05rem;
  }
}

.previous_project {
  @include font-details(var(--text-color), "ag-regular", 1rem);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  width: 10rem;
  display: block;
  margin: 0rem auto;
  padding: 1.5rem 0rem;
  transition: filter 0.5s;
  @include fade-in();
  &::before {
    content: ">";
    @include font-details(var(--text-color), "ag-regular", 2rem);
    position: absolute;
    transform: translate(-1.5rem, 0.1rem);
    opacity: 0;
    transition: opacity, transform 300ms;
  }
  &:hover::before {
    opacity: 1;
    transform: translate(6.5rem, 0.1rem);
  }
  &::after {
    content: "";
    position: absolute;
    transform: translate(-7.5rem, 1.4rem);
    background-color: var(--text-color);
    width: 10rem;
    height: 0.05rem;
  }
}
