#cart {
    background: white;
    width: 100%;

    img {
        width:100%;
        height:70vh;
        margin-block: 0rem;
    }

    #shoppingcart {
        padding-inline: 2rem;
        margin-block-start: -0.5rem;
        table {
            width:100%;
            border-collapse: collapse;
            table-layout: fixed;
            white-space: nowrap;

            thead {
                font-size: 3vh;
                padding-block: 2rem;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom:1px solid #D2687A;
            }

            td {
                text-align: center;
                font-family: customFont2;

                input[type="number"] {
                    font-family: customFont2;
                    align-self: center;
                    width:2rem;
                }
            }
            img {
                height:15vh;
                width:10vw;
            }



        }
    }

    #cart-add {
        padding-inline: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        #coupon {
            width:50%;
            margin-bottom: 30px;

            h3 {
                font-family: customFont2;
                padding-bottom: 15px;
            }

            input[type="text"] {
                font-family: customFont2;
                padding-block: 10px;
                padding-inline: 20px;
                outline: none;
                width:60%;
                margin-right: 10px;
                border: 1px solid #D2687A;
            }

            button {
                border: none;
                outline: none;
                font-family: customFont;
                background-color: #D2687A;
                color:white;
                padding-block: 10px;
                padding-inline: 20px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }

        #subtotal {
            width:50%;
            margin-bottom: 30px;
            border: 1px solid #D2687A;
            padding: 30px;
            color: black;

            h3 {
                font-family: customFont2;
                padding-bottom: 13px;
            }

            table {
                border-collapse: collapse;
                width:100%;
                margin-bottom: 20px;

                td {
                    width: 50%;
                    padding: 6px;
                    font-size: 13px;
                    font-family: customFont2;

                    strong {
                        font-family: customFont2;
                    }
                }
            }

            button {
                border: none;
                outline: none;
                font-family: customFont;
                background-color: #D2687A;
                color: white;
                padding-block: 10px;
                padding-inline: 20px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}