#jobapplication {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D2687A;
    background-size: cover;
    background-repeat: no-repeat;

    .apply {
        margin-block: 2rem;
        margin-inline: 25rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-self: center;
        padding: 1rem;
        background-color: #EC8594;
        border-radius: 1rem;

        h2 {
            font-family: customFont2;
            color: white;
            margin-bottom: 13px;
        }
        label {
            font-family: customFont2;
            color:white;
        }

        input[type="text"], input[type="tel"], input[type="email"], input[type="file"] {
            font-family: customFont2;
            border: none;
            outline: none;
            padding-block: 0.5rem;
        }

        .btn-group {
            margin-block-start: 2rem;
            margin-block-end: 1rem;
            padding-inline: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            button {
                font-size: 2vh;
                background-color: #D2687A;
                font-family: customFont2;
                color: white;
                border: none;
                outline: none;
                padding-block: 0.5rem;
                padding-inline: 1rem;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            }
        }
    }
}