@use "../styles/mixins.scss" as *;

.button {
  position: absolute;
  width: 5rem;
  inset-block-start: 50%;
  inset-inline-start: 50%;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  @include fade-in();
  &::before {
    content: "";
    position: absolute;
    background-color: var(--text-color);
    width: 0.02rem;
    height: 5rem;
    transform-origin: center;
    transform: translate(2.5rem, -0.1rem) rotate(90deg);
  }
}
.button.active {
  transform: rotate(180deg);
  transition: transform 1s;
}
.dark,
.light {
  width: 5rem;
  height: 1.5rem;
  position: absolute;
  text-decoration: none;
  @include font-details(var(--text-color), "ag-regular", 1.25rem, uppercase);
  letter-spacing: 2px;
  text-align: center;
  z-index: 8;
}
.light {
  transform: translate(0.2rem, 1rem) rotate(0deg);
  backface-visibility: hidden;
  will-change: transform;
  perspective: 1000px;
}
.dark {
  transform: translate(0rem, 2.3rem) rotate(180deg);
  backface-visibility: hidden;
  will-change: transform;
  perspective: 1000px;
}
