
.form_contact input {
    margin-block-start: 0.5em;
    width: 100%;
    padding:0.2em;
    padding:0.5em;
}
.form_contact textarea{
 width:100%;
 border:none;
 outline:none;
 padding:0.5em;
 margin-bottom: 20px;
 margin-block-start: 0.5em;
}


.btn_active {
    padding:0.5em;
    border:none;
    border-radius: 10px;
    background-color:#0a0a23;
    transition: 0.3s;
}

.btn_active:hover{
    background-color: orange;
    color:#0a0a23;
    transform:translateY(-20px);
}
.succes{
    display: none;
    color:orange;
}
.danger {
    display:none;
    color:orange;
}

