#section4boutique {
background-color:#8F2539;

img {
    width:100%;
    margin-block-end: -0.3rem;
}

#container {
    padding-block: 2rem;
    margin: none;
    max-width: 120ch;
    margin-inline: auto;
}

.buttons {
    display: flex;
    gap: 0.5;
    margin-block: 1rem;
    justify-content: center;
}


.buttons a {
    font-family: customFont;
    font-size: 6vh;
    text-decoration: none;
    padding-block: 2rem;
    padding-inline: 2rem;
    border: none;
    border-radius: 2rem;
    background: #EC8594;
    color: white;
    cursor: pointer;
}

.buttons a.active {
    background: #CA4B60;;
    color: white;
}

.tabs article {
    display: none;
}

.tabs article.active {
    display: block;
    border: none;
    border-radius: 1rem;
    background: #D2687A;
    color: white;
}

#appointment {
    padding-block-end: 3rem;
    font-family: customFont2;
    font-size: 20px;

    .col {
        display: flex;
        flex-direction: column;

        img {
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        form {
            padding-block-start: 2rem;
            padding-inline: 17rem;

            label {
                width:300px;
                display: inline-block;
                font-family: customFont2;
            }

            input {
                height:22px;
                font-family: customFont2;
                color:white;
                background: #EC8594;
                border: none;
                outline: none;
            }
            ::placeholder {
                color: white;
                opacity: 1;
            }
            ::-webkit-calendar-picker-indicator {
                filter:invert(1);
            }
            .checkbox-group {
                padding-inline-start: 1rem;
                display: flex;
                flex-direction: row;

                input[type=checkbox] {
                        appearance: none;
                        width: 1.2em;
                        height: 1.2em;
                        border: 1px solid white;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                    }
                
                    input[type=checkbox]:checked::before {
                        content: "✔";
                        font-size: 1em;
                        color: white;
                    }
            }
            .btn-group {
                padding-inline: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                button {
                        border: none;
                        border-radius: 4px;
                        padding-block: 1rem;
                        padding-inline: 1rem;
                    }
                
                    button[type=reset] {
                        background: #EC8594;
                        color: white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
                
                    button[type=submit] {
                        background: #CA4B60;
                        color: white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
            }
        }
    }

}

#party {
    padding-block-end: 3rem;
    font-family: customFont2;
    font-size: 20px;

    .col {
            display: flex;
            flex-direction: column;
    
            img {
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }
    
            form {
                padding-block-start: 2rem;
                padding-inline: 17rem;
    
                label {
                    width: 300px;
                    display: inline-block;
                    font-family: customFont2;
                }
    
                input {
                    height: 22px;
                    font-family: customFont2;
                    color: white;
                    background: #EC8594;
                    border: none;
                    outline: none;
                }
    
                ::placeholder {
                    color: white;
                    opacity: 1;
                }
    
                ::-webkit-calendar-picker-indicator {
                    filter: invert(1);
                }
    
                .checkbox-group {
                    padding-inline-start: 1rem;
                    display: flex;
                    flex-direction: row;
    
                    input[type=checkbox] {
                        appearance: none;
                        width: 1.2em;
                        height: 1.2em;
                        border: 1px solid white;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                    }
    
                    input[type=checkbox]:checked::before {
                        content: "✔";
                        font-size: 1em;
                        color: white;
                    }
                }
    
                .btn-group {
                    padding-inline: 1rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
    
                    button {
                        border: none;
                        border-radius: 4px;
                        padding-block: 1rem;
                        padding-inline: 1rem;
                    }
    
                    button[type=reset] {
                        background: #EC8594;
                        color: white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
    
                    button[type=submit] {
                        background: #CA4B60;
                        color: white;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

#popup {
    position: absolute;
    align-self: center;
    margin-block-start: 32.3rem;
    height:21.5rem;
    padding-inline: 18.5rem;
    position: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #8F2539;
    padding-block-end: 2rem;
    display: none;

    img {
        align-self: center;
        margin-top: -50px;
        width:25%;
    }
    h7 {
        align-self: center;
        font-size: 8vh;

    }
    p {
        align-self: center;
        font-size: 4vh;
    }
    button {
        align-self: center;
        width: 100px;
        margin-top: 50px;
        padding: 10px 0;
        background: #EC8594;
        color: white;
        border: 0;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

#popup2 {
    background-color: #D2687A;
    position: inherit;
    position: absolute;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 107rem;
    padding-inline: 17rem;
    border-radius: 1rem;
    display: none;

    img {
            margin-top: -50px;
            width: 25%;
        }
    
        h7 {
            font-size: 8vh;
    
        }
    
        p {
            font-size: 4vh;
        }
    
        button {
            width: 100px;
            margin-top: 50px;
            padding: 10px 0;
            background: #EC8594;
            color: white;
            border: 0;
            outline: none;
            border-radius: 4px;
            cursor: pointer;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
        }
}
