#section3 {
    margin: none;
    width: 100%;
    background-color: #EC8594;
    display: flex;
    flex-direction: row;

    .col1 {
        flex-basis: 50%;

        img {
            height: 100%;
        }
    }

    .col2 {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
        }

        button {
            padding-block: 1rem;
            padding-inline: 2rem;
            color: white;
            background-color: #CA4B60;
            outline: none;
            border: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }
}