#section1 {
    width: 100%;
    background-color: #EC8594;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .col1,
    .col2,
    .col3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .col1 {
        flex-basis: 40%;

        img {
            width: 100%;
            height: 60vh;
        }
    }

    .col2,
    .col3 {
        flex-basis: 30%;

        p {
            padding-inline: 2rem;
            font-family: customFont2;
            color: white;
            text-align: center;
        }

        img {
            align-self: center;
            width: 50%;
        }

        button {
            padding-block-start: 0.5rem;
            padding-block-end: 1rem;
            margin-inline: 7rem;
            color: white;
            background-color: #CA4B60;
            outline: none;
            border: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }
    }

    .col3 {
        border-left: dotted white;
    }

}