
.footer_principal h4 {
    text-align: right;
    color:#808dad43;
    font-weight: 400;
}
.footer_subchild  {
    display: flex;
    justify-content: flex-end;
    gap:2em;
    width: 100%;
    text-align: start;
    color:aliceblue;
    list-style-type:none;
}
.footer_subchild a:hover{
    color:orange;
}
.footer_subchild i {
    color:orange;
    padding:0.2em;
}
@media only screen and (max-width:768px){
    .footer_subchild{
        display:flex;
        flex-direction: row;
        margin-block-start: 30%;
        gap:1em;
        justify-content: flex-end;
    }
}