.container {
  background-image: url("../../images/form_bck.jpg");
  background-size: cover;
  margin-block-start: 2rem;
  width: 70%;
  margin-inline: auto;
  padding: 1rem;
  margin-block-end: 2rem;
}
.flex {
  display: flex;
  flex-direction: column;
}
.title {
  color: white;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.label {
  color: white;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-block-end: 1rem;
  text-align: center;
}
.input,
.textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 1rem black;
  background-color: rgba(255, 255, 255, 0.597);
  margin-inline: 1rem;
}
.btn_div {
  text-align: center;
}
.btn {
  background-color: rgb(224, 35, 35);
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
.img {
  width: 12rem;
  height: 100%;
  margin: auto;
}
.error {
  color: red;
  font-size: 0.8rem;
  margin-block-start: 0.5rem;
}
.popup_text {
  color: white;
  text-align: center;
}
@media (min-width: 770px) {
  .input,
  .textarea {
    width: 20rem;
    text-align: start;
  }
  .flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .img {
    width: 40%;
  }
}
