#section3 {
    display: flex;
    flex-direction: row;
    background-color: #EC8594;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-inline: 2rem;

        h2 {
            font-size: 5vh;
            color: white;
            font-family: customFont2;
        }

        h3 {
            margin-block: 1rem;
            font-size: 2vh;
            color: white;
            font-family: customFont2;
        }

        button {
            border: none;
            outline: none;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            border-radius: 3rem;
            cursor: pointer;
            color: white;
            background-color: #CA4B60;
            padding-block: 2rem;
            font-size: 5vh;
            margin-inline: 2rem;
        }
    }

    img {
        width: 30%;
    }
}