#section4 {
    background-color: white;
    display: flex;
    flex-direction: column;

    h2 {
        padding-block-start: 4rem;
        text-align: center;
        font-size: 8vh;
    }

    button {
        border: none;
        outline: none;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        cursor: pointer;
        color: white;
        background-color: #CA4B60;
        padding-block: 0.5rem;
        margin-block-end: 3rem;
        margin-inline: 30rem;
        font-size: 5vh;
    }

    .row {
        padding-block-start: 3rem;
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;

    }

    .col {
        flex-basis: 25%;
        padding: 10px;
        display: flex;
        flex-direction: column;

        .icon {
            margin-block-start: 2rem;
            height: 7vh;
            width: 5vw;
            align-self: center;
        }

        h3 {
            margin-block-start: 2rem;
            text-align: center;
        }

        p {
            font-family: customFont2;
            text-align: center;
            padding-block-start: 1rem;
            padding-block-end: 2rem;
        }

    }
}