@font-face {
    font-family: customFont;
    src: url("./Reey-Regular.otf") format('opentype')
}

@font-face {
    font-family: customFont2;
    src: url("./Gotham\ Book\ Font.otf") format('opentype')
}