* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant SC", serif;
}
.nav {
  display: flex;
  background-color: aquamarine;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 1.2rem;
  font-size: 2rem;

  a {
    text-decoration: none;
    color: black;
  }

  .nav-item {
    display: block;
  }
  .menu-btn {
    display: flex;
    gap: 2rem;

    li {
      list-style: none;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.open-state {
  display: block;
}
.close-state {
  display: none;
}
