@use "../../styles/mixins.scss" as *;

.container {
  perspective: 100rem;
}
.card {
  width: 7rem;
  height: 7rem;
  display: block;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective-origin: left;
  transform-origin: center;
  transition: transform 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  &.culturall,
  &.skyscraper {
    width: 9rem;
    height: 9rem;
  }
}
.card.isFlipped {
  perspective-origin: right;
  transform: rotateY(180deg);
}
.card:focus,
.card:focus-within {
  transform: translateX(-100%) rotateY(-180deg);
}
.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
}

.card_back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  a {
    @include font-details(var(--background), "ag-regular", 1.3rem);
    text-transform: uppercase;
    text-decoration: none;
  }
}
