.footer {
  width: 100vw;
  background-color: #000;
  color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding-block: 2vw;
  font-size: 1.8rem;
}
.menu-anchor {
  text-align: center;
}
.menu-anchor:hover {
  color: #9b2226;
}
.social-icons {
  display: flex;
  gap: 1vw;
}
.location {
  text-align: center;
}
@media (max-width: 750px) {
  .footer {
    font-size: 1.4rem;
  }
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .social-icons {
    justify-content: center;
  }
  .social-icon {
    width: 1.8rem;
    height: auto;
  }
}
