.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}
.text-form {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  text-align: center;
  padding-block: 2rem;
}
.text-area {
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.check {
  text-align: start;
}
.btn {
  font-family: "Playfair Display", serif;
  z-index: 10;
  background-color: #9b2226;
  color: #fff;
  padding: 1rem 1.4rem;
  border-radius: 10rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  box-shadow: 3px 9px 16px 2px rgba(0, 0, 0, 0.28);
  margin-block: 1.2rem;
}
.btn:hover {
  background-color: #fff;
  color: #9b2226;
  border: 0.2rem solid #9b2226;
}

.fieldset {
  width: 22rem;
  height: fit-content;
  border: 0.4rem solid #9b2226;
}
.fieldsetA {
  width: 22rem;
  height: fit-content;
  border: 0.4rem solid #9b2226;
  text-align: center;
}
.legend {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 1.8rem;
}
.textLabel {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}
.radio {
  width: 1rem;
  height: 1rem;
}
.text-input {
  width: 12rem;
  height: fit-content;
}
.text-box {
  width: 14rem;
  height: 4rem;
}
@media (max-width: 750px) {
  .btn,
  .see-more {
    font-size: 1.4rem;
    padding: 0.8rem 1rem;
  }
} ;
