.title1 {
    background-color: rgb(232,214,161);
    margin: 0;

}

.title2 {
    background-color: black;
    color: white;
    margin: 0;
}

.advertising {
    text-align: center;
    margin: 0.5rem 2rem;
}


.buttonhire {
    padding: 1rem 2rem;
    background-color: rgb(232,214,161);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Saira Stencil One', Arial, Helvetica, sans-serif;
    color: black;
    border-color: rgb(232,214,161);
}

.buttonhire:hover {
    color: rgb(232,214,161);
    background-color: black; 
    border-color: black;
}
