.main {
  min-height: 100vh;
  width: 100%;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  height: 2vw;
  margin-left: 0.5rem;
}
.first-image {
  border-radius: 1rem;
  width: 90vw;
  height: fit-content;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 2rem;
}
.btn-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding-block: 4rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  padding-block: 2rem;
}
.subtitle {
  font-size: 2.4rem;
  line-height: 1.15;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  width: 75vw;
  margin: 2rem;
  line-height: 1.5;
  font-size: 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

@media (max-width: 700px) {
  .title {
    font-size: 2.6rem;
  }
  .subtitle {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .description {
    font-size: 0.8rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
