.container{
    display: flex;
    position: relative;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.miniboxDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border: 0.1rem solid black;
    margin-block-start: 3rem;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.sloganText{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
}

.miniText{
    width: 70%;
    font-weight: 800;

}
.btn{
    padding: 1rem 2.5rem;
}

.right{
    position: relative;
}

.imageContainer{
    width: 60rem;
    position: relative;
    margin-block-start: 5rem;
    margin-inline-start: 50rem;
}

.ContactUs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 1rem;
    border-radius: 5rem;
    gap: 1rem;
    background-color: white;
    box-shadow: var(--shadow);
    margin-block-start: -40rem;
    margin-inline-start: 100rem;
}

.ContactUs>div{
    background: rgb(59 208 59);
    border-radius: 50%;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.ContactUs:hover{
    cursor: pointer;
    transform: scale(1.1);
}
