.container {
    margin-block-start: 15rem;
    height: calc(100vh - 6.25rem);
    background-color: white;
    display: flex;
  }
  
.item {
    flex: 1;
    position: relative;
    display: flex;
   
}
  
.item:last-child {
    flex: 2;
    padding: 2rem;
    justify-content: space-between;
}
  
.card {
    margin-block-start: 15rem;
    flex: 1;
    padding: 0 1rem;
}
  
.title {
    font-size: 1.5rem;
    color: black;
}
  
.text {
    color: black;
}
  
.motto {
  margin-block-start: 10rem;
  color: black;
}
  
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
      text-align: center;
    }
    .item:first-child {
      display: none;
    }
  
    .item {
      flex-direction: column;
    }
  
    .title {
      font-size: 1rem;
    }
  
    .text {
      font-size: 0.5rem;
    }
  }