@mixin font-details($color, $family, $size, $transform) {
  color: $color;
  font-family: $family, sans-serif;
  font-size: $size;
  text-transform: $transform;
}
@mixin fade-in() {
  animation: fade-in 3s ease-in;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
