@mixin font-details($color, $family, $size, $transform) {
  color: $color;
  font-family: $family, sans-serif;
  font-size: $size;
  text-transform: $transform;
}
@mixin fade-in() {
  animation: fade-in 2s ease-in;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@mixin button() {
  .button {
    position: absolute;
    transform: translate(1rem, 1rem);
    inset-block-start: 50%;
    inset-inline-start: 50%;
    width: 5rem;
    height: 5rem;
    padding: 1rem;
    &::before {
      content: "";
      position: absolute;
      background-color: var(--text-color);
      width: 0.02rem;
      height: 5rem;
      outline: 1px solid transparent;
      backface-visibility: hidden;
      perspective: 1000px;
      will-change: transform;
      transform-origin: center;
      transform: translate(2.5rem, 0rem) rotate(45deg);
    }
  }
  .button.active {
    transform: rotate(180deg);
    transition: transform 1s;
  }
  .dark,
  .light {
    width: 5rem;
    height: 1.5rem;
    position: absolute;
    text-decoration: none;
    @include font-details(var(--text-color), "ag-regular", 1.25rem, uppercase);
    letter-spacing: 2px;
    text-align: center;
    z-index: 8;
  }
  .light {
    transform: translate(-0.4rem, 1.4rem) rotate(-45deg);
    backface-visibility: hidden;
    will-change: transform;
    perspective: 1000px;
  }
  .dark {
    transform: translate(0.3rem, 2.3rem) rotate(135deg);
    backface-visibility: hidden;
    will-change: transform;
    perspective: 1000px;
  }
}
