.display {
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 700px) {
  .display {
    display: grid;
    grid-template-columns: 20rem 20rem;
    gap: 1rem;
    margin-inline: 7rem;
  }
}

@media (min-width: 1024px) {
  .display {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    gap: 1rem;
    margin-inline: 18rem;
  }
}
