.project_subitem{
    padding:0.5em;
    margin-bottom: 3em;
}
.project_subitem h6 {
 color:orange;
 display:flex;
 justify-content: center;

}
.project_word{
    color: #8080da;
    display:flex;
    justify-content: center;
    
}
.project_image{
    display:flex;
    justify-content: center;
}
