.heading{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.heading>:nth-child(1)
{
    color:black;
    font-size: 3rem;
}

.heading>:nth-child(2), .heading>:nth-child(3)
{
    font-size: 2rem;
}

.services{
    display: flex;
    margin-top: 3rem;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ImageWrapper{
    width: 15rem;
    height: 15rem;
}

.feature>:nth-child(2)
{
    font-weight: bold;
    font-size: 1.5rem;
}

.feature>:nth-child(3)
{
    color: black;
    word-wrap: break-word;
    width: 20rem;
    text-align: center;
    font-size: 1.2rem;
}

.ImageWrapper:hover {
    box-shadow: 0 0.5rem 2.5rem 0rem whitesmoke;
    width: 20rem;
    height: 15rem;
  }

  @media screen and (max-width: 480px){
    .heading>:nth-child(1){
    font-size: 1rem;
    }

    .heading>:nth-child(2), .heading>:nth-child(3){
        font-size: 2rem;
    }
    
    .services{
        margin-block-start: 1rem;
        gap: 0rem;
    }
    
    .feature{
        gap: 0rem;
    }
    
    .ImageWrapper{
        height: 10rem;
        float: none;
        margin-right:0;
        width:auto;
    }
    
    .feature>:nth-child(2){
        font-size: 0.5rem;
        float: none;
    margin-right:0;
    width:auto;  
    }
    
    .feature>:nth-child(3)
    {
        font-size: 0.5rem;
        float: none;
    margin-right:0;
    width:auto;
    }
  } 