.services{
  width: 100rem;
  padding: 5rem 1rem;
  margin: auto;
}

.services h1{
 text-align: center;
  font-size: 3rem;
  position: relative;
  font-weight: 600;
}

.services h1:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  width: 10rem;
  height: 0.2rem;
  background-color: blue;
}
 
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
}

.card{
  width: calc(34% - 1.35rem);
  background: #f2f2f2;
  color: #333;
  padding: 2.5rem 0.75rem;
  margin: 0 1.5rem;
  text-align: center;
  cursor: pointer;
}

.sbox h3{
  font-size: 1.5rem;
}

.sbox p{
  margin: 1.25rem 0;
}

.sbox a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  background: peachpuff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.sbox a:hover{
  background: transparent;
  background: rgb(41, 147, 157);
  border: 0.2rem solid black;
  transform: scale(1.1);
}
